@model IEnumerable<MSMS.Web.Models.ClassInfo>

@{
    ViewBag.Title = "Index";
}

<h3>All Class List</h3>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
    <a class="button" href="~/ClassInfoes/Create">Add Class</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClassName)
        </th>
        <th>Option</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClassName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
