@model MSMS.Web.Models.FeeSettings

@{
    ViewBag.Title = "Details";
}

<h3>Class wise Monthly Fee Details</h3>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClassInfo.ClassName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassInfo.ClassName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonthlyFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthlyFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EffectiveDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EffectiveDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a class="button" href="~/FeeSettings/Index">Back To List</a>
</p>
